/* ===============================
   VARIABLES GLOBALES
================================ */
:root {
  --bg-main: linear-gradient(135deg, #2d2b55, #1e1e3f); /* Gradiente púrpura oscuro */
  --bg-surface: #2d2b55; /* Púrpura oscuro */
  --bg-card: linear-gradient(135deg, #4c4977, #3e3b6b); /* Gradiente púrpura medio */

  --border: #5c5985; /* Púrpura gris */

  --text-main: #ffffff;
  --text-muted: #ffffff; /* Púrpura */

  --accent: #4e89b1; /* Amarillo */
}

/* ===============================
   RESET
================================ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
  position: relative;
}
